html,body {
	height: 100%;
	font-family: 'Staatliches', cursive;
}

/*menu top*/
.menu-top {
	padding:10px;
	align-items: right;
	padding-left: 850px;
}
/*buttons*/

.inscrivez {
	color: white;
	border-radius: 5px;
	border: none;
    background-color: #C01935;
    padding: 10px;
}
.inscrivez:hover{
	cursor: pointer;
}
.connectez{
	color: black;
	border-radius: 5px;
    background-color: white;
    padding: 10px;
}
.connectez:hover{
	cursor: pointer;
}
.buttons{
	color: white;
	border-radius: 5px;
    background-color: black;
    padding: 10px;
    border:none;

}
.buttons:hover{
	cursor: pointer;
}
/*black menu - top*/
.black-top {
	position:flex;
	background-color: black;
	color: white;
	padding-left: 800px;
	font-weight: bold;
}
.menu:hover {
    font-size: 15px;
    background-color : gray;
    cursor: pointer;
   
   }

/*img menu top*/
.logoright {
    padding-left: 300px;
    padding-bottom: 80px;
}

.logoleft {
	padding-bottom: 80px;
}


/*Menu*/
nav {
    background-color: black;
}

nav a {
    display: inline-block;
    width:6%;
    padding: 5px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

}

 /*photos menu*/

.batman {
	background-image: url('../img/batman.jpg');
	width: 450px;
	height: 520px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	text-align: center;

}
.batman:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}

div h1 {
	color: white;
	text-decoration: none;
	position: relative;
	top: 200px;
	font-size: 30px;
	font-weight: bold;
}
div h1:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
	color: red;
}

.HateFairyland{
	background-image: url('../img/HateFairyland.jpg');
	width: 350px;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-left: 460px;
    margin-top: -540px;
    
}

.HateFairyland:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}
/*text with the photos menus*/

.photostext{
	color: white;
	text-decoration: none;
	position: relative;
	top: 100px;
	font-size: 25px;
	font-weight: bold;
}


.batmansombrerefler_jock{
	background-image: url('../img/batmansombrerefler_jock.jpg');
	width: 350px;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-left: 820px;
    margin-top: -270px;
}
.batmansombrerefler_jock:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}


.madpreview{
	background-image: url(../img/madpreview.jpg);
	width: 350px;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-left: 460px;
    margin-top: -10px;
}
.madpreview:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}


.batmanfrankmiller{
	background-image: url('../img/batmanfrankmiller.jpg');
	width: 350px;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	text-align: center;
	position: relative;
	margin-left: 820px;
    margin-top: -270px;
}
.batmanfrankmiller:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}


/*after menu with photos*/
h3{
	color: black;
	margin-top: 100px;
	font-size: 40px;
	margin-left: 40px;


}
.batman2{
	background-image: url('../img/batman2.jpg');
	width: 300px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin-left: 60px;
    margin-top: -20px;
}
.batman2:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}

.batmansombrerefler_jock2{
	background-image: url('../img/batmansombrerefler_jock.jpg');
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	margin-left: 400px;
	margin-top: -440px;
}
.batmansombrerefler_jock2:hover{
    cursor: pointer;
    opacity : 0.70;
    filter : alpha(opacity=70);
}
.phototext2{
	margin-left: 520px;
	margin-top: -60px;
	font-size: 15px;
}
.phototext2:hover{
    cursor: pointer;
    opacity : 0.70;
    filter : alpha(opacity=70);
}
.madpreview2{
	background-image: url(../img/madpreview.jpg);
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	margin-left: 400px;
	margin-top:  50px;
}
.madpreview2:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}

.batmanfrankmiller2{
	background-image: url('../img/batmanfrankmiller.jpg');
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	margin-left: 400px;
	margin-top:  50px;
}
.batmanfrankmiller2:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}
.jocker{
	background-image: url('../img/jocker.jpg');
	width: 100px;
	height: 100px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	margin-left: 400px;
	margin-top:  50px;
}
.jocker:hover{
	cursor: pointer;
	opacity : 0.70;
	filter : alpha(opacity=70);
}

h4{
	margin-top: 50px;
	margin-left: 20px;

}

article p{
    text-align: justify;
    font-size: 15px;
    width: 300px;
    margin-left: 20px;
}

/*article-left*/
/*.article-left{
	width: 500px;
	height: 600px;
	margin-left: 600px;
	background-color: gray;
}*/
.article-left1{
	margin-left: 900px;
	margin-top: -500px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 2px solid black ;
}
.article-left-photos{
	background-image: url(../img/multiversity.jpg);
	width: 300px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	align-items: center;
	margin-left: 940px;
}
.article-left2{
	margin-left: 900px;
	margin-top:  20px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}